body{
  background-color: #efefef;
}
.container-fluid{
  background-color: #ffffff;
  margin-top: 35px;
}
video{
  position: relative;
  float: right;
  padding-left:4px;
  padding-right:4px;
  width: 310px;
  height: 250px;
}
video#selectedVideo{
  height: 100% !important;
  width:100% !important;
  border-radius: 5px;
  display: none;
}
.flip {
-webkit-transform: rotateY(180deg);
}