body{
  background-color: #efefef;
}
.container{
  background-color: #ffffff;
  margin-top: 5px;
}
video{
  position: relative;
  float: left;
  padding-left:4px;
  padding-right:4px;
  width: 20%;
  height: auto;
}
video#selectedVideo{
  height: 100% !important;
  width:100% !important;
  border-radius: 5px;  
}
.flip {
-webkit-transform: rotateY(180deg);
}